//variables
rojo     = #DD092F
amarillo = #FFCC00
verde    = #30FA04
coral    = #05FBFB
azul     = #509BFB

radius   = 10px

html
body
    margin 0
    height 100%
    background  url('../images/launch2.gif') //linear-gradient(top, rojo 440px,400px white) //rojo //black
    background-size cover
    font-family: 'Orbitron', sans-serif;

@import "pokedex/includes/mixins.styl"
@import "animate-stylus/attention_seekers/*.styl"
@import "animate-stylus/zoom.styl"


@import "components/settings.styl"
@import "components/actions.styl"
@import "components/pokemon.styl"


@import "pokedex/includes/utilidades.styl"
@import "pokedex/includes/botones.styl"
@import "pokedex/includes/pokedex.styl"





//utilities

.u-hidden
    display none

.Stadium
    margin 0 auto
    max-width 700px
    relative()






.Battle
    background-color black
    background-image url('http://img4.wikia.nocookie.net/__cb20090424143324/es.pokemon/images/e/e4/Campo_de_batalla_DPPt_2.png')
    background-position center
    background-size cover
    height 400px
    padding 20px
    relative()
    
    > *
        z-index 5
        left 0
        top 0
        right 0
        display flex
        flex-wrap wrap
        justify-content space-between
        flex-direction column
        height 100%
        bottom 0
    &.is-attack
        &:after
            top 0
            z-index 1
            bottom 0
            left 0
            position absolute
            right 0
            content ""
            animation .1s background infinite linear

.attack-name
    color white
    position absolute
    background rgba(black,.5)
    z-index 10
    padding 10px
    top 50%
    height auto
    margin-top -30px
    bottom initial
    text-align center
    animation-duration 500ms !important
    font-size 30px
    visibility hidden
    &.is-animated
        visibility visible
@keyframes background
    0%
        background rgba(red,.5)
    50%
        background rgba(blue,.5)
    100%
        background rgba(red,.5)

+to(740px)

    .Battle
        height 245px
