<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon battle</title>
    <meta name="viewport" content="width=device-width, user-scalable=0">
</head>
<body>
    <div class="banner">
        <p>Juega Pokemon y gana un Premio gracias a <a href="http://twitter.com/gimoti" target="_blank">@gimoti</a> y <a href="https://twitter.com/search?q=%23CPMX6&src=tyah" target="_blank">#CPMX6</a></p>
    </div>
    <div class="PokemonBattle">
    </div>
<!-- http://veekun.com/dex/media/pokemon/cries/<%= national_id %>.ogg -->
<script type="text/template" id="template-battle">  
    <div class="Battle">
    <audio id="audio" src="media/sounds/battle.mp3" autoplay></audio>
        <p class="attack-name"><span>pikachu</span> ha usado Impact trueno</p>
        <div id="pokemons"></div>
    </div>
    <div class="Actions" id="Actions">
        <!--button id="start" class="Start"></button-->
        <div class="Actions" id="moves">
        
        </div>
    </div>
</script>
<script type="text/template" id="template-action">
    <% for(var move in "iiii") { %>
        <a class="Action-attack" data-move="<%= move %>">
        <%= moves[move].name %>
        </a>
    <% } %>
</script>
<script type="text/template" id="template-pokeWindow">
        <img src="<%= spriteFront %>" class=""/>
</script>
<script type="text/template" id="template-pokeDescription">
        <%= name %>
        <%= description %>
</script>
<script type="text/template" id="template-setting">
    <!--audio  src="media/sounds/start.mp3" autoplay></audio-->

    <div class="Pokedex-left">
        <div class="Pokedex-leftTop">
            <div class="Btn Btn--coral Btn--big Btn--rounded" id="light"></div>
            <div class="Btn Btn--red Btn--small Btn--rounded"></div>
            <div class="Btn Btn--yellow Btn--small Btn--rounded"></div>
            <div class="Btn Btn--green Btn--small Btn--rounded"></div>
        </div>
        <div class="Pokedex-window" >
            <div class="Pokedex-sprite" id="pokedex-window">
                
            </div>
        </div>
        <div class="Pokedex-leftBottom">
            <div class="Btn Btn--blue Btn--medium Btn--rounded"></div>
            <div class="Btn Btn--green Btn--large Btn--round"></div>
            <div class="Btn Btn--orange Btn--large Btn--round"></div>
            <form action="/pokemon/" class="Pokedex-search" id="search">
                <input type="text" placeholder="Nombre o ID (1...718)" name="pokemon">
                <input type="submit" class="Btn Btn--blue" value="Buscar"/>
            </form>
            <a id="play" class="Pokedex-play" href="#battle">Jugar</a>

        </div>
    </div>
    <div class="Pokedex-rightFrontface">
        <div class="Pokedex-rightFrontfaceTop"></div>
        <div class="Pokedex-description">
            <p id="pokedex-description">
                
            </p>
        </div>
        <div class="Pokedex-rightFrontfaceBottom">
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
        </div>
    </div>
    <div class="Pokedex-rightBackface">
        <div class="Pokedex-rightBackfaceTop"></div>
    </div>
</script>

<script type="text/template" id="no-pokemon">
    Haz terminado la batalla elige de nuevo.
</script>
<!-- <% if(sound != "media/sounds/undefined"){ %>
    <audio src="http://veekun.com/dex/media/pokemon/cries/<%= national_id %>.ogg" autoplay></audio>
<% } %> -->
<script type="text/template" id="pokemon-template">

    <img src="<%= sprite %>" class="Pokemon-sprite" alt="<% name %>">
    
    <div class="Stats">
        <div class="Stats-top">
            <div class="Pokemon-name"><%= name %></div>
            <div class="Pokemon-level">LVL <%= level %></div>
        </div>
        <div class="Stats-lifeContainer">
            <span class="Stats-tag">HP</span>  
            <div class="Stats-life"> 
                <div class="Stats-bar" style="width: <%= lifePercentage %>%"> 
                    <%= life %>
                </div>
            </div>
        </div>
    </div>
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script async src="js/public/battle.js"></script>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Orbitron:400,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>


</body>
</html>
<link rel="stylesheet" href="css/battle.css"/>
