<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon battle</title>
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <link href='http://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/battle.css"/>
</head>
<body>

    
    <div class="PokemonBattle">
    </div>

<script type="text/template" id="template-battle">
    <div class="Battle">
        <div id="pokemons"></div>
    </div>
    <div class="Actions" id="Actions">
        <!--button id="start" class="Start"></button-->
        <div class="Actions" id="moves">
        
        </div>
    </div>
</script>
<script type="text/template" id="template-action">
        <% for(var move in "iiii") { %>
            <a class="Action-attack" data-move="<%= move %>">
            <%= moves[move].name %>  
            </a>
        <% } %>
</script>
<script type="text/template" id="template-pokeWindow">
        <img src="<%= sprite %>" class=""/>
</script>
<script type="text/template" id="template-pokeDescription">
        <%= name %>
        <%= description %>
</script>
<script type="text/template" id="template-setting">
    <div class="Pokedex-left">
        <div class="Pokedex-leftTop">
            <div class="Btn Btn--coral Btn--big Btn--rounded" id="light"></div>
            <div class="Btn Btn--red Btn--small Btn--rounded"></div>
            <div class="Btn Btn--yellow Btn--small Btn--rounded"></div>
            <div class="Btn Btn--green Btn--small Btn--rounded"></div>
        </div>
        <div class="Pokedex-window" >
            <div class="Pokedex-sprite" id="pokedex-window">
                
            </div>
        </div>
        <div class="Pokedex-leftBottom">
            <div class="Btn Btn--blue Btn--medium Btn--rounded"></div>
            <div class="Btn Btn--green Btn--large Btn--round"></div>
            <div class="Btn Btn--orange Btn--large Btn--round"></div>
            <form action="/pokemon/" class="Pokedex-search" id="search">
                <input type="text" placeholder="Buscar..." name="pokemon">
            </form>
            <a id="play" href="#battle">Jugar</a>

        </div>
    </div>
    <div class="Pokedex-rightFrontface">
        <div class="Pokedex-rightFrontfaceTop"></div>
        <div class="Pokedex-description">
            <p id="pokedex-description">
                
            </p>
        </div>
        <div class="Pokedex-rightFrontfaceBottom">
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
            <div class="Btn Btn--blue Btn--medium"></div>
        </div>
    </div>
    <div class="Pokedex-rightBackface">
        <div class="Pokedex-rightBackfaceTop"></div>
    </div>
</script>

<script type="text/template" id="no-pokemon">
    Haz terminado la batalla elige de nuevo.
</script>
<!-- <% if(sound != "media/sounds/undefined"){ %>
    <audio src="http://veekun.com/dex/media/pokemon/cries/<%= national_id %>.ogg" autoplay></audio>
<% } %> -->
<script type="text/template" id="pokemon-template">
    <div class="Pokemon-sprite" style="background-image:url(<%= sprite %>)">
    </div>
    <div class="Stats">
        <div class="Stats-top">
            <div class="Pokemon-name"><%= name %></div>
            <div class="Pokemon-level">LVL <%= level %></div>
        </div>
        <div class="Stats-lifeContainer">
            <span class="Stats-tag">HP</span>  
            <div class="Stats-life"> 
                <div class="Stats-bar" style="width: <%= lifePercentage %>%"> 
                    <%= life %>
                </div>
            </div>
        </div>
    </div>
</script>
<script src="http://192.168.0.19:35729/livereload.js?snipver=1"></script>

<script src="js/public/battle.js"></script>


</body>
</html>