

animations = (bounce flash pulse rubberBand shake swing tada wobble zoomIn zoomInDown zoomInLeft zoomInRight zoomInUp)

.animated
  animation-duration: 1s
  animation-fill-mode: both

for animation_name in animations
  .{animation_name}
    @extends .animated
    animation-name: animation_name

.Pokemon
    // position absolute
    // padding 20px
    // left 0
    // right 0
    overflow hidden
    // flex 1
    // width 100%
    display flex
    justify-content space-between
    &:nth-of-type(1)
        // bottom 0
        // background red
        // align-self flex-end
        order 2
        // .Pokemon-sprite
        //     float left
        //     // transform rotateY(180deg)

        .Stats
            // float right
            align-self flex-end
            
            
    &:nth-of-type(2)
        // top 0
        // align-self flex-start
        
        
        .Pokemon-sprite
            // float right
            height 100%
            // align-self flex-end
            margin-top 160px
            margin-right 130px
        .Stats
            order -1

    .Pokemon-sprite
        // width 120px
        // width 20%
        // height 120px

        background-repeat no-repeat
        background-position center bottom
        
        
    
    &-level
        float right
    &-name
        float left

@keyframes pokemon
    to
        background-position 0 -1200px

.Stats
    background #F0F0D0
    border 5px solid black
    border-radius 10px 
    // margin-top 10px
    padding 10px
    // width 300px
    width 50%
    height 100%
        
    &-top
        overflow hidden
    &-life
        background red
        border 2px solid white
        border-radius 20px
        margin-left 40px
        overflow hidden
    &-lifeContainer
        background black
        border-radius 20px
        margin-top 10px
        padding 5px 
    &-tag
        color #E67959
        float left
        font-size 20px
        font-weight bold
        line-height 25px
    &-bar
        transition .3s
        background #6EDAA3

+to(740px)
    .Pokemon
        &:nth-of-type(1)
            padding 0
            // .Pokemon-sprite
            //     test()
        &:nth-of-type(2)
            .Pokemon-sprite
                margin-right 20px
                margin-top 30px